body{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: none;
}
body::before{
    content: "";
    position: absolute;
    background: url("https://w.wallhaven.cc/full/l3/wallhaven-l3182l.jp") no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: -7px;
    filter: blur(7px);
}

/* 主页 */
#main_app{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    /* 允许滚动 */
    overflow-y: visible;
    border: none;
}

/* 标题 */
.main_app_title{
    text-align: center;
}
/* 一言 */
.main_app_one_word{
    color: black;
    font-size: 1.2em;
    text-align: center;
}

/* 搜索框 */
.search_box{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}
.search_bar{
    position: relative;
}

#search_input{
    width: 45vw;
    padding: 15px 0 15px 15px;
    background: #efefef;
    border: none;
    border-radius: 4px;
    outline: none;
    line-height: 1.15;
    color: black;
    text-indent: 40px;
    transition: text-indent .4s linear;
}
#search_input::placeholder{
    opacity: 0;
}
#search_input:focus::placeholder{
    opacity: 1;
}
#search_input:focus{
    text-indent: 0;
    transition: text-indent .4s linear;
}

#search_input:focus + label{
    transform: translateY(-120%) scale(1.2);
}
.search_label{
    position: absolute;
    top: 11px;
    bottom: 10px;
    left: 0;
    padding-left: 15px;
    border-radius: 3px;
    font-weight: bold;
    transform: translateY(0%) scale(1);
    transition: transform .3s;
}

/* 博客预览盒子 */
.blogs_box{
    position: relative;
    width: 60%;
    margin-left: 20%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.page{
    margin: 10px;
}

.page ul{
    padding: 0;
    margin-left: 20%;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}
.page ul::after{
    content: '';
    display: block;
    clear: both;
}
.page ul li{
    float: left;
    width:auto;
    min-width:50px;
    height: 30px;
    line-height:30px;
    list-style: none;
    background: white;
    opacity: .7;
}
.page a{
    color:#000000;
    padding:0 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 1px solid #888;
    border-left: none;
}
.page ul li:first-child a{
    border-left: 1px solid #666;
}

.page ul li a:hover{
    background-color: dodgerblue;
}
.blogs_box ul li a:hover{
    color: white;
}
.page .disabled a:hover{
    background-color: white;
    cursor:not-allowed;
    color: #888;
}
.page .active a{
    background-color: dodgerblue;
    color: white;
}

.blog_error_item{
    width: 40%;
    margin: 10px;
    padding: 10px;
    border: none;
    font-weight: bold;
    font-size: large;
    color: red;
    text-align: center;
}

.blog_item{
    margin: 10px;
    width: 100%;
    background: #eeeeee;
    padding: 10px;
    border-radius: 8px;
    opacity: 0.8;
    font-weight: bold;
}
.blog_item:hover{
    cursor: pointer;
}

.blog_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.blog_item_bottom{
    margin-bottom: 10px;
    margin-top: 10px;
}
.blog_tag_div{
    float: left;
    margin-left: 10px;
}
.blog_tag{
    color: #0c9a9a;
    margin-left: 1rem;
    margin-right: 1rem;
}
.blog_date{
    float: right;
    padding-right: 10px;
}

#blog_detail_box{
    position: relative;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
}

#blog_detail_box img{
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}

